<!doctype html>
<html ng-app>
<head>
  <title>sig</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="http://snapsvg.io/assets/js/snap.svg-min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-animate.js"></script>
  
  <script type="text/javascript" src="js/GeoP.js"></script>
  <script type="text/javascript" src="js/SvgEditor.js"></script>
  <script type="text/javascript" src="js/Polyline.js"></script>
  <script type="text/javascript" src="sigApp.js"></script>
  <script type="text/javascript" src="main.js"></script>

</head>
<body ng-controller="SigCtrl">
  <div>
    <ul>
      <li ng-repeat="b in buttons"><button ng-click="b.action()">{{b.label}}</button></li>
    </ul>
    <ul>
      <li ng-repeat="b in currentOptions"><button ng-click="b.action()">{{b.label}}</button></li>
    </ul>

  </div>
  <svg id="main" ng-class="mode"/>
</body>
</html>