<!doctype html>
<html id="ng-app" ng-app="GeoP">
<head>
  <title>GeoP</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script type="text/javascript" src="http://snapsvg.io/assets/js/snap.svg-min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.js"></script>
  <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-resource.min.js"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-animate.js"></script>
  <script type="text/javascript" src="http://nervgh.github.io/pages/angular-file-upload/angular-file-upload.js"></script>


  <script type="text/javascript" src="js/GeoP.js"></script>
  <script type="text/javascript" src="js/SvgEditor.js"></script>
  <script type="text/javascript" src="js/Polyline.js"></script>
  <script type="text/javascript" src="GeoPApp.js"></script>
  <script type="text/javascript" src="main.js"></script>

</head>
<body ng-controller="GeoPCtrl">
  <div class="options">
    <ul>
      <li ng-repeat="b in buttons"><button ng-click="b.action()">{{b.label}}</button></li>
      <li ng-if="importBackground == true">
        <input ng-file-select type="file"/>
        <h2>The queue. Length: {{ uploader.queue.length }}</h2>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <div>Name: {{ item.file.name }}</div>
                <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                <div ng-show="uploader.isHTML5">
                    Progress: {{ item.progress }}
                    <div class="item-progress-box">
                        <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                <div ng-show="controller.isImage(item.file)">
                    Thumbnail (only images):
                        <!-- Image preview -->
                        <!--auto height-->
                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                        <!--auto width-->
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                        <!--fixed width and height -->
                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                </div>
                <div>
                    <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                    <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                    <button ng-click="item.remove()">Remove</button>
                </div>
            </li>
        </ul>
        <div>
            <div>
                Total progress: {{ uploader.progress }}
                <div class="total-progress-box">
                    <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
            <button ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all</button>
            <button ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">Remove all</button>
        </div>        
      </li>
    </ul>
    <ul>
      <li ng-repeat="b in currentOptions"><button ng-click="b.action()">{{b.label}}</button></li>
    </ul>

  </div>
  <svg id="main" ng-class="[mode, 'shift-' + isShift]"/>
</body>
</html>