body {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  text-align: center; }

svg#main {
  border: 2px solid blue;
  width: 98%;
  margin: 0px auto;
  height: 400px;
  background-color: #efefef; }
  svg#main.create:hover {
    cursor: crosshair; }
  svg#main.shift-true {
    border: 2px dotted green;
    opacity: 0.95; }

div.options {
  text-align: left; }
  div.options ul {
    display: inline-block; }
    div.options ul li {
      display: inline-block; }
